<!DOCTYPE html>
<html lang="en">
<head>

    <title>Cinephile</title>
    <link rel="icon" type="image/png" href="cp.png">
  
</head>
<body>
    <script href="functions.js"></script>

    <div class="header">
        <h1>Cinephile</h1>
      </div>

      <div class="topnav">
          <a href="/">Home</a> |
          <a href="/explore">Explore</a> |
          <a href="/trailers">Upcoming Movies</a> |
          <a href="/sign">SignIn / SignUp</a>
        </div>
        
      </div>


  

  
</html>