<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Cinephile</title>
  </head>

  <body>
    <div class="header">
      <h1 class="yellow">Cinephile</h1>
    </div>
    <div class="topnav">
      <a href="/">Home</a> |
      <a href="/explore">Explore</a> |
      <a href="/trailers">Upcoming Movies</a> |
      <a href="/sign">SignIn / SignUp</a>
    </div>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h3 class="white">Enter your favorite movies, & Create a List</h3>
          <p class="white">You can't get more exciting than that. Ok let's get started. Add a movie!</p>
          <form method="post" action="/movies">
            <div class="row">
              <div class="col-sm-12 col-md-6 mb-6">
                <div class="form-group">
                  <label class="white" for="name">Movie Title</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" />
                </div>
              </div>