<html>
	<head>
		<title> Cinephile </title>
        <link rel="icon" type="image/png" href="cp.png">
     

<body>
    <div class="header">
        <h1>Cinephile</h1>
      </div>

      

    </body>
    </html>
